{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	| Home
{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
	{{parent()}}
	<br>
	<a href="{{path("app_burger_list")}}">Voir la liste des burgers</a>
	<br>
	<a href="{{path("sauces")}}">Voir la liste des sauces</a>
	<br>
	<a href="{{path("commentaires")}}">Voir la liste des commentaires</a>
	<br>
	<a href="{{path("oignons")}}">Voir la liste des oignons</a>
	<br>
	<a href="{{path("images")}}">Voir la liste des images</a>


{% endblock %}
